<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>
    <h1 class="m-2 mb-12 bg-green-500 p-3 pt-2 text-center text-white">
      <%= title %>
    </h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
